/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.user-card {
  width: 350px;
  min-height: 100px;
  margin-bottom: 20px;
}

.user-card-info {
  font-weight: bold;
  color: #000;
  font-size: 14px;
}
